<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebApp</title>
</head>
<body>
<form>
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Usuwanie</h3>
    </div>
    <div class="modal-body">
        Czy aby na pewno?
    </div>
    <div class="modal-footer">
        <button class="btn btn-success fa fa-check-square" ng-click="ctrl.ok()" type="submit"></button>
        <button class="btn btn-danger fa fa-times" ng-click="ctrl.cancel()" type="button"></button>
    </div>
</form>
</body>
</html>