<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebApp</title>
</head>
<body>
<form>
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Logowanie</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <label>
            <input autofocus class="form-control" ng-change="ctrl.error=''" ng-model="ctrl.credentials.login"
                   placeholder="Login"
                   type="text"/>
        </label>
        <br>
        <label>
            <input class="form-control" ng-change="ctrl.error=''" ng-model="ctrl.credentials.password"
                   placeholder="Hasło"
                   type="password"/>
        </label>
    </div>
    <div class="modal-footer">
        <span class="label label-warning" ng-bind="ctrl.error" ng-if="ctrl.error" style="float: left;"></span>
        <button class="btn btn-success fa fa-sign-in" ng-click="ctrl.ok()" type="submit"></button>
        <button class="btn btn-danger fa fa-times" ng-click="ctrl.cancel()" type="button"></button>
    </div>
</form>
</body>
</html>