<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Przelewy</title>
</head>
<body>
        <table class="table table-stripped">
            <tr>
                <th>Data</th>
                <th>Kwota przed</th>
                <th>Przelew</th>
                <th>Kwota po</th>
            </tr>
            <tr ng-repeat="transfer in ctrl.history">
                <td ng-bind="ctrl.formatDate(transfer.date)"></td>
                <td ng-bind="transfer.amount_before"></td>
                <td ng-bind="transfer.delta"></td>
                <td ng-bind="transfer.amount_after"></td>
            </tr>
        </table>

<br><br>

<div class="panel panel-default">
    <div class="panel-heading">Przelew</div>
    <div class="panel-body">
        <form class="form form-inline">
            <select class="form-control">

            </select>
            <input class="form-control" ng-model="ctrl.transfer.delta" type="number"/>
            <button class="btn btn-default" ng-click="ctrl.doTransfer()" ng-disabled="ctrl.selected < 0">Przelej
            </button>
        </form>
    </div>
</div>
</body>
</html>